.user_unblock{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 4px;
}
.user_block{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 4px;
}
.tableInTable{
    width: 100% !important;
}
.tableInTable tr td {
    background-color: white;
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
}