@font-face {
    font-family: 'Calibri';
    src: local('Calibri Regular'), local('Calibri-Regular'),
    url('/fonts/Calibri.woff2') format('woff2'),
    url('/fonts/Calibri.woff') format('woff'),
    url('/fonts/Calibri.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoCyrl';
    src: local('Museo Cyrl 500'), local('MuseoCyrl-500'),
    url('/fonts/Museocyrl500.woff2') format('woff2'),
    url('/fonts/Museocyrl500.woff') format('woff'),
    url('/fonts/Museocyrl500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Calibri', Arial, Helvetica, sans-serif !important;
    font-size: 15px !important;
    line-height: normal !important;
    overflow-x: hidden;
}

h1, h2, h4 {
    font-family: 'MuseoCyrl', Arial, Helvetica, sans-serif !important;
    margin-bottom: 10px !important;
}

h1, .h1, .page-header__h1{
    font-size: 36px;
    line-height: normal;
}
h2, .h2 {
    font-size: 28px;
}

h2.modal-title {
    margin-bottom: 0 !important;
}
h3.header_top, .h3{
    margin-bottom: 10px !important;
}
img {
    max-width: 100%;
}
.sm-hide{
    display: none;
}
.pink {
    color: #ff3292;
}

#content {
    margin-top: 100px;
}

.back_fon {
    background-color: white;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top:none;
}

.ferma_header {
    background-image: url(/images/head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    border: none !important;
    max-height: 30vw;
    height: 100%;
}

.menu_year {
    font-size: 21px;
}

.year-list {
    display: inline-flex;
    flex-direction: column;
}

.menu_year_link {
    font-size: 14px;
    color: #3f404b;
    font-weight: 600;
    position: relative;
    transition: 0.25s;
}

.menu_year_link:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #3f404b;
    transition: 0.25s;
}

.menu_year_link:hover {
    text-decoration: none;
    color: #ff3292;
    transition: 0.25s;
}

.menu_year_link:hover:before {
    left: 50%;
    width: 0;
    background-color: #ff3292;
    transition: 0.25s;
}

.butt_del_basic,
.butt_del_target,
.butt_del.btn_blue,
.butt_del_basic.btn_blue,
.butt_del_target.btn_blue {
    display: none;
}

.new_nav {
    border-radius: 21px;
    box-shadow: 0 5px 0 #ff3292;
    font-family: 'MuseoCyrl', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.new_nav ul li {
    display: flex;
    align-items: center;
}

.new_nav ul li a {
    height: auto !important;
    line-height: 1 !important;
    text-align: center;
}

.nav-pills_user > li {
    background-color: #fff;
}

.top-wrap {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 45px;
    position: relative;
}

.header__nav-second-main {
    position: absolute;
    right: 45px;
    top: 60px;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.button_distr {
    text-align: center;
    margin-top: 27px;
}

.row_calc {
    vertical-align: bottom;
}

.menu-block {
    display: flex;
}

.menu-block .nav_new {
    padding-top: 8px;
}

.top-bar {
    background-color: transparent !important;
    border: none !important;
}

.top-bar .user-name {
    margin: 0 0 0 10px;
    padding: 0;
    text-align: right;
    min-width: 60px;
}

.top-bar .user-name li {
    margin: 0 !important;
    list-style-type: none;
}

.top-bar .user-name .name-link {
    color: #fff;
    display: flex;
    flex-direction: column;
    background-image: url(/images/icon-shop.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 35px 35px;
    padding-top: 40px;
    text-decoration: underline;
}

.top-bar .user-name .name-link:hover {
    text-decoration: none;
}

.top-bar__text-welcome {
    padding: 0 !important;
    font-size: 14px !important;
    list-style-type: none;
    font-weight: 500;
}

.page-header .breadcrumb {
    position: static !important;
    margin: 0 !important;
    padding: 0;
    font-size: 14px !important;
}

.breadcrumb > .active {
    color: #ff3292;
}

.breadcrumb a {
    color: #d2d6de;
}

.breadcrumb > li + li:before {
    content: '›' !important;
    color: #d2d6de;
    padding: 0 5px 0 0;
}

/*торговые точки*/
.mb-75 {
    margin-bottom: 75px;
}

.mb-8 {
    margin-bottom: 8px;
}

.sales-point {
    border: 2px solid #b1b8c7;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    position: relative;
    transition: 0.25s;
}

.sales-point:hover,
.sales-point:hover .point-coin {
    border-color: #5831db;
    transition: 0.25s;
}

.sales-point:last-child {
    margin-bottom: 75px;
}

.close-point {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 0;
    width: 14px;
    height: 14px;
    color: #34495e;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
}

.close-point:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

.fancybox {
    border: none !important;
}

.point-coin {
    min-width: 170px;
    border-right: 2px solid #b1b8c7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}
.point-coin img{
    width: 100%;
    max-width: 120px;
    border-radius: 8px 0 0 8px;
}

.distr_akb {
    text-align: center;
    font-size: 70px;
    color: #ff3292;
    padding-top: 27px;
}

.point-block {
    padding: 20px;
}

.point-block--title {
    font-size: 28px;
    line-height: 1.4;
    font-family: 'MuseoCyrl', serif;
    color: #ff3292;
}

.point-block--time {
    color: #b1b8c7;
    margin-bottom: 10px;
}

.point-block--info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #0c0c0c;
}

.new-dm li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px 10px;
}

.new-dm li > span,
.new-dm .bonus-list--point > span {
    font-size: 16px;
    font-weight: 600;
}

.new-dm .blue {
    color: #00a7d0;
}

.new-dm .green {
    color: #00a65a;
}

.new-dm .brown {
    color: #4c3000;
}

.new-dm .bonus-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.new-dm .bonus-list--head {
    background-color: rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.new-dm .bonus-list--point {
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
}

.new-dm hr {
    margin: 5px 0;
}

.new-dm hr:last-child {
    display: none;
}

.buttons-wrap {
    display: flex;
    flex-direction: column;
}

.buttons-wrap .btn-bonus {
    display: flex;
    align-items: center;
    border: 2px solid #b1b8c7;
    border-radius: 10px;
    margin-bottom: 15px;
    min-height: 120px;
    transition: 0.25s;
}

.buttons-wrap .bonus-title {
    font-size: 75px;
    font-weight: 700;
    color: #ff3292;
    line-height: 1;
}

.buttons-wrap .btn-bonus .btn-bonus--info {
    min-height: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: 70%;
}
.buttons-wrap .btn-bonus.active .btn-bonus--pig,
.buttons-wrap .btn-bonus.active .btn-bonus--purse{
    border-color: #5831db;
}
.buttons-wrap .active.btn-bonus,
.buttons-wrap .btn-bonus:hover,
.buttons-wrap .btn-bonus:hover .btn-bonus--pig,
.buttons-wrap .btn-bonus:hover .btn-bonus--purse {
    border-color: #5831db;
    transition: 0.25s;
    cursor: pointer;
}
.btn-bonus--pig,
.btn-bonus--purse{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-left: 2px solid #b1b8c7;
    min-height: 120px;
    padding: 15px;
}

.btn-bonus--pig img,
.btn-bonus--purse img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-bb1,
.block-bb2{
    display: none;
}
.buttons-wrap a{
    text-decoration: none;
}
.buttons-wrap > .open {
    position: relative;
}

.buttons-wrap > .open > .dropdown-menu {
    top: calc(100% - 18px);
    width: 100%;
}

.bonuses--user-name {
    font-family: 'MuseoCyrl', serif;
    font-size: 60px;
    line-height: 1;
    color: #3f404b;
    margin-bottom: 10px;
}

.bonuses--user-role {
    font-size: 24px;
    color: #ff3292;
    margin-bottom: 30px;
}

.moderation-block {
    border: 2px solid #b1b8c7;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 0.25s;
}

.moderation-block--title {
    font-size: 18px;
    font-family: 'MuseoCyrl', serif;
    color: #ff3292;
}

.moderation-block--info {
    font-size: 14px;
    color: #0c0c0c;
    width: 100%;
}

/*carousel*/
.news-carousel .news-card {
    display: flex;
    flex-direction: column;
    border: 2px solid #b1b8c7;
    border-radius: 10px;
}

.news-card--title {
    padding: 20px 15px;
    font-size: 24px;
    line-height: 1.54;
    color: #ff3292;
    font-family: 'MuseoCyrl', serif;
}

.news-card--announce {
    padding: 0 20px 20px 20px;
    font-size: 14px;
    color: #3f404b;
}

.news-card--button {
    color: #fff;
    background-color: #5831db;
    border-radius: 22px;
    padding: 8px 5px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.25s;
    max-width: 125px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 50px 20px;
}

.news-card--button:focus,
.news-card--button:active,
.news-card--button:hover {
    text-decoration: none;
    color: #fff;
}

.news-card--image {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-carousel .owl-nav {
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    font-weight: bold;
}

.news-carousel .owl-nav button:hover {
    background-color: transparent !important;
}

.news-carousel .owl-nav button span {
    line-height: 1;
    color: #fff;
    transition: 0.25s;
}

.news-carousel .owl-nav button:hover span {
    color: #5831db;
    transition: 0.25s;
}

.news-carousel .owl-dots {
    padding-top: 10px;
}

.news-carousel .owl-dots .owl-dot span {
    background: none;
    border: 2px solid #b9bfcd;
    width: 12px;
    height: 12px;
}

.news-carousel .owl-dots .owl-dot.active span,
.news-carousel .owl-dots .owl-dot:hover span {
    background-color: #ff3292;
}

.shopping-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-cart h2 {
    color: #ff3292;
}
.shopping-cart h2.black{
    color: #666;
}

.feedback-block .panel {
    border: 2px solid #b1b8c7;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

.feedback-block label {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
}

.feedback-block .form-control {
    border-radius: 8px;
}

.login-page,
.registration-page {
    padding-top: 0 !important;
}

.login-page .page-header,
.registration-page .page-header__h1 {
    text-align: center;
}


.noauth-header .mb-75 {
    margin-bottom: 0;
}

.bottom-footer {
    background-image: url(/images/footer-noauth.jpg) !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    min-height: 25vw;
}

.login-page .header.fixed,
.registration-page .header.fixed {
    position: static !important;
    height: auto;
    border: none;
}

.login-page section.content,
.registration-page section.content {
    background-color: transparent !important;
}

body.noauth {
    background-image: url(/images/main-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border: none;
    box-shadow: none !important;
    background-attachment: fixed;
}

body.noauth .breadcrumb,
body.noauth .page-header__h1,
body.noauth .bottom-footer {
    display: none;
}

body.noauth .page-header,
body.noauth section.content {
    background-color: transparent !important;
    transition: none !important;
}

body.noauth .form-control {
    border-radius: 8px;
}

body.noauth .panel_ferma label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

body.noauth .panel_ferma .form-group:last-child {
    margin-bottom: 0;
}

body.noauth .header__nav-main ul > li > a {
    height: auto;
    line-height: normal;
}
body.noauth .quick-cart{
    display: none!important;
}
.center {
    text-align: center;
}

.cart-title{
    font-size: 28px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.cart-title > div{
    flex-grow: 1;
}

#header.noauth-header {
    background-color: transparent;
    border: none;
    box-shadow: none !important;
}

.noauth-header .top-wrap {
    padding-top: 0;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.noauth-header .header__nav-main .nav-pills > li > a {
    color: #fff;
    position: relative;
}

.noauth-header .header__nav-main .nav-pills > li > a:hover {
    color: #fff;
}

.noauth-header .header__nav-main .nav-pills > li > a:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 0;
    background-color: transparent;
    transition: 0.25s;
}

.noauth-header .header__nav-main .nav-pills > li > a:hover:before {
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: 0.25s;
}

body.noauth .header__nav-main-collapse {
    display: flex !important;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 50px 0;
}

.login-page .logo-header,
.registration-page .logo-header {
    height: 30px;
}

.panel_register {
    color: white;
    background: rgba(183, 188, 191, 0.8) !important;
    border-radius: 5px;
    border: 2px solid white;
}

.login-page .btn_all,
.registration-page .btn_all {
    background-color: #fff;
}

.panel_register label {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
}

.login-page .page-header {
    background-color: transparent;
}

.calculator-page .col-btn {
    margin-top: 25px;
}

.calculator-page .form-control {
    border-radius: 8px;
}

.calculator-page .button-row {
    margin-bottom: 30px;
}


.ferma_futer {
    background-image: url(/images/footer-bg.png);
    background-size: cover;
    height: 100%;
    min-height: 25vw;
}

.butt_del {
    display: none;
}

.btn_all {
    border-radius: 20px;
    border: #ff76b5 2px solid !important;
    color: black !important;
    transition: 0.25s;
    background-color: transparent;
    line-height: 1 !important;
}

.btn_blue {
    color: #fff;
    background-color: #5831db;
    border-radius: 22px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.25s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    line-height: 1 !important;
}

.btn_blue:active,
.btn_blue:focus,
.btn_blue:hover {
    text-decoration: none;
    border-color: #5831db;
    color: #5831db;
    background-color: transparent;
}

.btn_all i,
.btn_blue i{
    margin-right: 5px;
}

.error_basic {
    display: none;
    color: red;
}

.close_position {
    color: #ff76b5;
    font-size: 25px;

}

.btn_all:hover {
    background-color: #ff76b5 !important;
    color: white !important;
    transition: 0.25s;
}

.btn_all:focus {
    background-color: #ff76b5 !important;
    color: white !important;
}

.btn_pay {
    background-color: #5831db !important;
    border: #5831db 2px solid !important;
    border-radius: 20px;
    color: white !important;
}

.btn_pay:hover {
    background-color: #6f4ede !important;
    color: white !important;
}

.header_top {
    color: #ff3292;
    font-size: 28px;
    line-height: 1.1;
}

.img-responsive {
    float: left;
}

.panel_ferma {
    border: #b1b8c7 2px solid !important;
    border-radius: 10px !important;
    padding: 15px !important;
}

.nav-pills_user {
    display: flex;
    border-radius: 21px;
    background-color: #ff3292;
}

.nav-pills_user > li {
    border-right: 1px solid #f0f0f0;
}

.nav-pills_user > li:last-child {
    border: 0;
}

.catalog-cards__image {
    min-height: 0 !important;
    max-width: 185px;
    flex-shrink: 0;
}

.padding_top_bottom {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.nav-pills_user > li:hover,
.nav-pills_user > li.active {
    background-color: #ff3292 !important;
}

.nav-pills_user > li.active > a {
    color: #fff;
}

.nav-pills_user > li.active.list-group-item2.active {
    background-color: #ff7bba !important;
}

.nav-pills_user > li > a {
    color: #3b3b3b;
}

.nav-pills_user > li:hover > a {
    color: white !important;
}

.nav-pills_user > li:first-child {
    border-radius: 20px 0 0 20px;
}

.nav-pills_user > li:last-child {
    border-radius: 0 20px 20px 0;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.list-group-item2 {
    background-color: white;
    position: relative;
}

.list-group-item2 > ul {
    display: none;
    position: absolute !important;
    left: 0;
    top: 100%;
    background-color: white;
    z-index: 99;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 5px solid #ff3292;
}

.list-group-item2 > ul > li > a {
    padding: 5px 10px;
    color: black;
    display: block;
    width: 100%;
    text-align: left;
}

.list-group-item2 > ul > li > a:hover {
    text-decoration: none;
    background-color: #ff7bba;
    color: #fff;
    transition: 0.25s;
}

body .wrapper, #index-section {
    min-height: 100%;
}

body.boxed .wrapper {
    margin-top: 0 !important;
}

.bottom-footer__copyright {
    background: none !important;
    color: #333;
}

.page-header {
    padding: 0 !important;
    margin-bottom: 20px;
    border: none !important;
}

.page-header__h1 {
    font-size: 36px !important;
    margin-top: 15px !important;
    text-transform: none !important;
}

.bottom-footer__logo {
    max-width: 168px !important;
    max-height: 70px !important;
}

.bottom-footer__copyright {
    text-shadow: none !important;
}

.bottom-footer {
    position: sticky;
    top: 100%;
}

.bottom-footer__copyright {
    padding: 15px 0 !important;
}

section.content {
    padding: 20px 0 !important;
    border: none !important;
}

.fon_content {
    background-size: auto;
    background-repeat: repeat;
}

.text-center {
    background-color: white;
}

.catalog-cards {
    background-color: white;
}

.catalog-cards__card {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border: 2px solid #b1b8c7;
    border-radius: 10px;
    margin-bottom: 30px;
}

.catalog-cards__body {
    display: flex;
}

.catalog-cards__info {
    font-size: 14px;
    line-height: 1;
    color: #0c0c0c;
    padding-left: 20px;
    overflow-y: auto;
    max-height: 180px;
}

.catalog-cards__info p,
.catalog-cards__info span {
    font-family: 'Calibri', serif !important;
    font-size: 14px !important;
    line-height: 1 !important;
    color: #0c0c0c !important;
    text-align: left !important;
}

.catalog-cards__info p > strong {
    color: #ff3292;
    font-weight: 500 !important;
}

.catalog-cards .btn_pay {
    padding: 10px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
}

.catalog-cards__selected {
    padding-bottom: 10px;
    display: flex;
}

.catalog-cards__price-select,
.catalog-cards__quantity {
    border-radius: 4px !important;
    border: 1px solid #dbdee5 !important;
    height: auto !important;
    padding: 0 0 0 8px !important;
    font-size: 14px !important;
    margin: 0 5px;
}

.catalog-cards__image .card-image {
    margin-bottom: 15px;
    border-radius: 10px;
}

.header.fixed {
    position: fixed;
    z-index: 1000;
    height: 128px;
}

body.boxed {
    background-color: #fff !important;
}

.bonuses--modal-btn {
    display: flex;
}

.add_my_rtt,
.order-btn {
    background-color: transparent;
    color: #3f404b;
    border-radius: 22px;
    border: 2px solid #ff3292;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.25s;
    min-width: 170px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-btn:hover,
.add_my_rtt:hover {
    background-color: #5831db;
    border-color: #5831db;
    color: #fff;
    text-decoration: none;
    transition: 0.25s;
}

.add_my_rtt:first-child {
    margin-right: 15px;
}

.order-btn {
    padding-left: 15px;
    padding-right: 15px;
}


/*news*/
.news-list {
    border: 2px solid #b1b8c7;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
}

.news-list h2 {
    color: #ff3292;
    margin-bottom: 25px !important;
}

.item-news .summary {
    margin-top: -18px;
}

.news-footer {
    display: flex;
    align-items: center;
    font-size: 14px !important;
    margin-top: 15px;
}

.hal-like-button {
    font-size: 14px;
    height: auto;
    color: #ff3292;
    margin-left: 15px;
}

.hal-like-button:after, .hal-like-button-my-likes:after {
    content: '♥';
    background: none;
    float: left;
    color: #ff3292;
    min-height: auto;
    min-width: auto;
    height: auto;
    width: auto;
    font-size: 20px;
    line-height: 14px;
    margin-right: 5px;
}

.news-content,
.news-content * {
    font-size: 14px !important;
    line-height: normal !important;
    color: #0c0c0c !important;
}
.news-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.news-list--button {
    color: #fff;
    background-color: #5831db;
    border-radius: 22px;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.25s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
}

.news-list--button:hover {
    text-decoration: none;
    border-color: #5831db;
    color: #5831db;
    background-color: transparent;
}

.news-list--button-block {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.archive-block h2 {
    color: #ff3292;
}

.menu_year {
    margin-top: 15px;
    font-size: 24px;
    font-family: 'MuseoCyrl', serif;
}


/*faq*/
.faq-list h2 {
    color: #ff3292;
}

.faq-list .panel {
    border: 2px solid #b1b8c7;
    border-radius: 10px;
    margin-bottom: 15px;
}

.faq-list .panel-heading {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}

.faq-list .faq-link {
    display: flex;
    position: relative;
}

.faq-list .faq-link:focus,
.faq-list .faq-link:active,
.faq-list .faq-link:hover {
    text-decoration: none;
}

.faq-list .faq-link.collapsed:before {
    content: '+';
    background-color: #5831db;
    color: #fff;
    border: 2px solid transparent;
}

.faq-list .faq-link:not(.collapsed):before {
    content: '−';
    background-color: transparent;
    color: #000;
    border: 2px solid #ff3292;
    font-size: 17px;
}

.faq-list .faq-link:before {
    position: absolute;
    right: -30px;
    top: calc(50% - 15px);
    line-height: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 17px;
    font-weight: bold;
    font-family: Tahoma, serif;
    transition: 0.25s;
}

.faq-list .panel-title {
    font-size: 18px;
    color: #ff3292;
    margin-bottom: 0 !important;
    padding-right: 15px;
}

/*Начисленные баллы*/
.points-block .panel-heading {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.points-block .panel {
    border: 2px solid #b1b8c7;
    border-radius: 10px;
}

.points-block .panel-heading {
    padding: 0;
    border: none;
}

.points-block--name {
    padding: 20px 40px;
    font-size: 24px;
    color: #3f404b;
    font-family: MuseoCyrl, serif;
    display: flex;
    width: 50%;
    flex-shrink: 0;
    border-right: 2px solid #b1b8c7;
    flex-direction: column;
    position: relative;
}

.points-block--name small {
    font-size: 14px;
    color: #ff3292;
    font-family: Calibri, serif;
}

.points-block--total {
    width: 50%;
    font-size: 24px;
    padding: 20px 70px 20px 40px;
    font-family: MuseoCyrl, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.points-block--total small {
    font-size: 14px;
    font-family: Calibri, serif;
}

.points-block .collapsed:before {
    content: '+';
    background-color: #5831db;
    color: #fff;
    border: 2px solid transparent;
}

.points-block .points-link:not(.collapsed):before {
    content: '−';
    background-color: transparent;
    color: #000;
    border: 2px solid #ff3292;
    font-size: 17px;
}

.points-block .points-link:before {
    position: absolute;
    right: calc(-100% + 20px);
    top: calc(50% - 15px);
    line-height: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 17px;
    font-weight: bold;
    font-family: Tahoma, serif;
    transition: 0.25s;
}

.points-block .points-link:focus,
.points-block .points-link:active,
.points-block .points-link:hover {
    text-decoration: none;
}

.points-block .points-link.pink {
    color: #ff3292;
}

.points-block--name small.black {
    color: #0c0c0c;
}

.points-block .panel-body {
    padding: 0;
}

.points-table {
    display: flex;
    flex-direction: column;
}

.points-table--header {
    display: flex;
    align-items: center;
}

.points-table--body {
    display: flex;
    flex-direction: column;
}

.points-table--line {
    display: flex;
}

.points-table--td1 {
    width: 50%;
    border-right: 2px solid #b1b8c7;
    padding: 5px 15px;
}

.points-table--td2 {
    width: 25%;
    border-right: 2px solid #b1b8c7;
}

.points-table--td3 {
    width: 25%;
}

.points-table--header .points-table--td1,
.points-table--header .points-table--td2,
.points-table--header .points-table--td3 {
    font-size: 18px;
    color: #ff3292;
    background-color: #e8eaf0;
    text-align: right;
    padding: 14px 15px;
    font-weight: 600;
}

.points-table--body .points-table--td1,
.points-table--body .points-table--td2,
.points-table--body .points-table--td3 {
    font-size: 14px;
    color: #3f404b;
    text-align: right;
    padding: 2px 15px;
    border-top: 2px solid #b1b8c7;
}

.points-block.pbv2 .points-block--total {
    width: auto;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.points-block.pbv2 .points-block--total:last-child {
    padding-right: 70px;
}

.quick-cart__box h4 {
    margin-bottom: 0 !important;
}

.quick-cart__item h6 {
    font-size: 14px;
    font-family: 'Calibri', serif;
    padding: 0;
    font-weight: 600;
    color: rgba(65, 65, 65, 0.7);
}

.quick-cart__item{
    border-bottom: none !important;
}

.quick-cart__box h4 {
    border-bottom: none !important;
}
.btn-xs, .btn-group-xs > .btn{
    padding: 10px;
    font-size: 14px;
}

.quick-cart__footer .btn {
    width: 100%;
}

#modal_rtt .field-addrttform-multirtt > .col-sm-6 {
    width: 100%;
    margin-left: 0;
}

#modal_rtt .field-addrttform-multirtt input {
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    outline: 0;
    border: #e5e5e5 2px solid;
    background: #fff;
    font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    -webkit-appearance: normal;
    -moz-appearance: normal;
    appearance: normal;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.logout-link{
    list-style-type: none;
    padding-top: 5px;
}

#add_rtt .field-addrttform-multirtt label {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
}
#add_rtt .col-sm-6{
    width: 100%;
    margin-left: 0;
}
#add_rtt .multiple-input-list.list-renderer .form-group{
    display: flex;
}
#add_rtt .form-group input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    outline: 0;
    border: #e5e5e5 2px solid;
    border-radius: 8px;
    background: #fff;
    font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    -webkit-appearance: normal;
    -moz-appearance: normal;
    appearance: normal;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.points-block--right{
    display: flex;
    width: 50%;
}

.form-horizontal .control-label{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
}
.catalog-title{
    display: flex;
    align-items: center;
    margin: 40px 0 15px 0;
    justify-content: space-between;
}
.catalog-title .header_top{
    margin: 0 15px 0 0;
}

/*Призовые акции*/
.stocks-block{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.stocks-block--head{
    display: flex;
}
.stocks-block--body{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #b1b8c7;
}

.stocks-block--th1,
.stocks-block--td1{
    width: 20%;
}

.stocks-block--th2,
.stocks-block--td2{
    width: 40%;
    text-align: center;
}

.stocks-block--th3,
.stocks-block--td3{
    width: 20%;
    text-align: center;
}

.stocks-block--th4,
.stocks-block--td4{
    width: 20%;
    text-align: center;
}

.stocks-block--th1,
.stocks-block--th2,
.stocks-block--th3,
.stocks-block--th4{
    font-size: 18px;
    color: #ff3292;
    background-color: #e8eaf0;
    padding: 14px 15px;
    font-weight: 600;
}
.stocks-block--td1,
.stocks-block--td2,
.stocks-block--td3,
.stocks-block--td4{
    font-size: 14px;
    color: #3f404b;
    padding: 2px 15px;
}

/*Описание акции*/
.oneStock-block{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.oneStock-block--head{
    display: flex;
}
.oneStock-block--body{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #b1b8c7;
    border-bottom: 2px solid #b1b8c7;
}
.oneStock-block--footer{
    padding-top: 15px;
}
.title-pink{
    font-size: 18px;
    color: #ff3292;
    font-weight: 600;
}
.oneStock-block--th1,
.oneStock-block--td1{
    width: 50%;
}

.oneStock-block--th2,
.oneStock-block--td2{
    width: 30%;
    text-align: center;
}

.oneStock-block--th3,
.oneStock-block--td3{
    width: 20%;
    text-align: right;
}

.oneStock-block--th1,
.oneStock-block--th2,
.oneStock-block--th3{
    font-size: 18px;
    color: #ff3292;
    background-color: #e8eaf0;
    padding: 14px 15px;
    font-weight: 600;
}
.oneStock-block--td1,
.oneStock-block--td2,
.oneStock-block--td3{
    font-size: 14px;
    color: #3f404b;
    padding: 2px 15px;
}

/*Цели*/
.targets-block{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.targets-block--head{
    display: flex;
}
.targets-block--body{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #b1b8c7;
}

.targets-block--th1,
.targets-block--td1{
    width: 30%;
}

.targets-block--th2,
.targets-block--td2{
    width: 50%;
    text-align: center;
}

.targets-block--th3,
.targets-block--td3{
    width: 20%;
    text-align: right;
}

.targets-block--th1,
.targets-block--th2,
.targets-block--th3{
    font-size: 18px;
    color: #ff3292;
    background-color: #e8eaf0;
    padding: 14px 15px;
    font-weight: 600;
}
.targets-block--td1,
.targets-block--td2,
.targets-block--td3{
    font-size: 14px;
    color: #3f404b;
    padding: 2px 15px;
}

/*Сообщения*/
.message-block{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.message-block--head{
    display: flex;
}
.message-block--body{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #b1b8c7;
}

.message-block--th1,
.message-block--td1{
    width: 15%;
}

.message-block--th2,
.message-block--td2{
    width: 70%;
    text-align: center;
}
.message-block--td2{
    text-align: left;
}

.message-block--th3,
.message-block--td3{
    width: 15%;
    text-align: right;
}

.message-block--th1,
.message-block--th2,
.message-block--th3{
    font-size: 18px;
    color: #ff3292;
    background-color: #e8eaf0;
    padding: 14px 15px;
    font-weight: 600;
}
.message-block--td1,
.message-block--td2,
.message-block--td3{
    font-size: 14px;
    color: #3f404b;
    padding: 2px 15px;
}



.file-attach img{
    width: 100px;
    height: 100%;
    object-fit: contain;
}
.file-attach--label{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

.file--upload{
    padding: 15px;
}
.file--upload .btn-attach{
    width: 100%;
}
.file--uploaded{
    width: calc(20% - 10px);
    min-width: 100px;
    margin-right: 10px;
}
.file--uploaded .thumbnail{
    margin-bottom: 10px;
}
.file--upload .attach-block{
    display: flex;
    flex-wrap: wrap;
}
.oneStock-block--footer .field-socialactionuser-comment label{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

.dealer-forms .form-horizontal{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.dealer-forms .form-horizontal .form-group{
    margin-bottom: 0;
    margin-right: 15px;
    flex-grow: 1;
}
.dealer-forms .col-sm-6.col-sm-offset-3{
    margin-left: 0;
    width: 100%;
    float: none;
}
.dealer-forms input{
    border-radius: 8px;
}
.dealer-forms .btn_blue{
    height: 40px;
}
.dealer-forms .button-bottom{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.calculator-page label{
    font-size: 15px;
    color: #ff3292;
    background-color: #e8eaf0;
    padding: 14px 15px;
}

.row_target_calc2 label,
.row_target_calc3 label,
.row_target_calc4 label,
.row_target_calc5 label,
.row_target_calc6 label,
.row_target_calc7 label,
.row_target_calc8 label,
.row_target_calc9 label,
.row_target_calc10 label,
.row_basic_calc2 label,
.row_basic_calc3 label,
.row_basic_calc4 label,
.row_basic_calc5 label,
.row_basic_calc6 label,
.row_basic_calc7 label,
.row_basic_calc8 label,
.row_basic_calc9 label,
.row_basic_calc10 label,
.add_div2 label,
.add_div3 label,
.add_div4 label,
.add_div5 label,
.add_div6 label,
.add_div7 label,
.add_div8 label,
.add_div9 label,
.add_div10 label{
    display: none;
}
.calc-table{
    display: flex;
}
.calc-table2{
    display: inline;
}
.calc-table--line{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.calc-table--col{
    flex-grow: 1;
    width: 30%;
}
.calc-table--btn{
    align-self: flex-end;
    margin-bottom: 14px;
}
.calc-table--btn .btn{
    height: 40px;
}
.add_div .calc-table--line{
    width: 30%;
}
.calc-table input.form-control{
    margin: 0 10px;
    width: calc(100% - 20px) ;
}
.calc-table .form-group{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
}

.calc-table .form-group label{
    flex-grow: 1;
}


.total-summ .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-summ .form-group label{
    background: none;
    margin-bottom: 0;
    margin-right: 5px;
}
.total-summ .form-group input{
    width: 200px;
}

.info-buttons-block{
    display: flex;
    flex-direction: column;
}
.info-buttons-block .btn{
    margin-bottom: 10px;
    padding: 5px 15px;
    height: 40px;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.update-buttons-block{
    display: flex;
    justify-content: space-between;
}
.update-buttons-block .btn{
    padding: 5px 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-size: 15px;
}

.payments-list th{
    font-size: 16px;
    background-color: #e8eaf0;
    padding: 14px 15px;
    font-weight: 600;
    vertical-align: middle!important;
    text-align: center;
}
.payments-list th a{
    color: #ff3292;
}
.payments-list input.form-control{
    border-radius: 8px;
}
.feedback-history {
    border-top: 1px dashed #aaa;
    margin-top: 8px;
    padding-top: 8px;
}
.remind-pass{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick-cart{
    top: -12px;
    padding: 10px!important;
    z-index: 10;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.quick-cart__icon{
    background: url(/images/icon-shopCart.png) no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain;
    width: 24px!important;
    height: 27px!important;
}
.quick-cart__icon:before{
    display: none;
}
.quick-cart__badge--corner{
    z-index: 1;
}

/*список заказов*/
.orders-list.panel_ferma{
    padding: 12px!important;
}
.orders-list--head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orders-list--number{
    font-size: 24px;
    color: #3f404b;
    font-family: MuseoCyrl, serif;
}
.orders-list--date{
    display: block;
}
.olh-right, .olh-left{
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    height: 75px;
}
.olh-right .pink{
    font-family: MuseoCyrl, serif;
    font-size: 24px;
}
.olh-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 2px solid #b1b8c7;
    position: relative;
    padding-right: 60px;
}
.olh-right .balls-block{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.olh-right .balls-block .pink{
    padding-right: 5px;
}


.olh-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}


.olh-right:before {
    content: '−';
    position: absolute;
    right: 20px;
    top: calc(50% - 15px);
    line-height: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 17px;
    font-weight: bold;
    font-family: Tahoma, serif;
    transition: 0.25s;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    border: 2px solid #ff3292;
}
.orders-list--head.collapsed .olh-right:before {
    content: '+';
    background-color: #5831db;
    color: #fff;
    border: 2px solid transparent;
}
#composeOrder{
    padding: 20px;
    border-top: 2px solid #b1b8c7;
}
.composeOrder-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #b1b8c7;
    padding: 5px 0;
}
.composeOrder--name{
    flex-grow: 1;

}
.composeOrder--download{
    padding-left: 5px;
}
.composeOrder--head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.composeOrder--th{
    font-size: 18px;
    color: #ff3292;
    background-color: #e8eaf0;
    padding: 14px 15px;
    font-weight: 600;
    width: 50%;
}
.composeOrder--th.cth2{
    text-align: right;
}

@media only screen and (max-width: 1199px) {
    .top-wrap{
        flex-wrap: wrap;
    }
    .top-bar{
        position: absolute;
        top: 45px;
        right: 80px;
    }
    .top-bar .user-name .name-link{
        padding-top: 0;
        padding-right: 40px;
        font-size: 14px;
    }
    .btn_all{
        line-height: normal!important;
    }
}

@media only screen and (max-width: 992px) {
    .header__btn-mobile {
        width: 50px;
        height: 44px;
        border-radius: 8px !important;
        background-color: #ff3292;
        margin: 0 !important;
        z-index: 15;
    }

    .header__btn-mobile i {
        font-size: 25px !important;
        color: #fff;
        line-height: 1 !important;
        margin-top: 1px !important;
    }

    .header__nav-main-collapse.collapse {
        display: none !important;
        position: absolute;
        left: 0;
        top: 0;
        transition: none !important;
    }

    .header__nav-main-collapse.in {
        display: flex !important;
        width: 100%;
        height: 100%;
        overflow-y: visible;
    }

    .header__nav-main-collapse.collapsing {
        display: none !important;
        position: absolute;
        left: 0;
        top: 0;
    }

    .new_nav {
        position: absolute;
        left: 0;
        top: 95px;
        z-index: 10;
    }

    .nav-pills_user {
        flex-direction: column;
    }


    .header__nav-main li {
        display: block !important;
        float: none;
        text-align: left;
        border-radius: 0;
    }

    .nav-pills_user > li:first-child {
        border-top-left-radius: 17px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 17px;
    }

    .nav-pills_user > li:last-child {
        border-bottom-left-radius: 17px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 17px;
    }

    .header__btn-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .noauth .header__btn-mobile {
        display: none;
    }
    .noauth .header__nav-main ul{
        display: flex;
    }
    body.noauth .header__nav-main-collapse{
        padding: 20px 0;
        position: static;
    }
    body.noauth #header {
        min-height: auto;
    }
}

@media only screen and (max-width: 991px) {
    .col-news{
        margin-bottom: 40px;
    }
    .mb-75{
        margin-bottom: 40px;
    }
    .points-table--header .points-table--td1,
    .points-table--header .points-table--td2,
    .points-table--header .points-table--td3{
        font-size: 16px;
    }
    .nav-pills_user > li{
        border: 0;
    }
    .new_nav{
        border:1px solid #ff3292;
    }
    .top-wrap{
        justify-content: flex-start;
    }
    .logo-link{
        margin-left: 15px;
    }
    .bonuses--user-name{
        font-size: 40px;
    }

    h1,
    .page-header__h1{
        font-size: 30px!important;
    }
    h2,
    .h2,
    .point-block--title,
    .news-card--title,
    .points-block--name,
    .header_top{
        font-size: 21px;
    }

    h3,
    .header_top{
        font-size: 19px;
    }

    .catalog-cards__body{
        flex-direction: column;
    }
    .catalog-cards__image{
        max-width: inherit;
        margin-bottom: 15px;
    }
    .btn-requisites.btn_pay{
        padding: 4px 10px;
        margin-top: 5px;
    }

    .catalog-cards .btn_pay{
        padding: 4px 10px;
    }
    .catalog-cards__info{
        padding-left: 0;
    }
    .points-block .points-link:before{
        right: calc(-100% + 5px);
    }
    .points-block--right{
        flex-direction: column;
        align-items: flex-start;
    }
    .points-block.pbv2 .points-block--total{
        flex-direction: row;
        width: calc(100% - 30px);
        justify-content: space-between;
        padding: 5px 30px 5px 20px;
        text-align: left;
    }
    .points-block.pbv2 .points-block--total:last-child{
        padding-right: 30px;
    }
    .points-block--name{
        padding: 20px;
    }
    #add_rtt .field-addrttform-multirtt label{
        width: 155px;
        flex-shrink: 0;
    }
    .new_nav ul li a{
        text-align: left;
    }
    .list-group-item2 > ul{
        display: flex;
        flex-direction: column;
        position: static!important;
    }
    .list-group-item2 > ul > li > a{
        text-align: center;
    }
    .list-group-item2 > ul{
        border-top: 0;
        border-bottom: 3px solid #ff3292;
    }
    .dealer-forms{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    #header{
        min-height: 150px;
    }
    body.noauth #header {
        min-height: auto;
    }
    .ferma_header {
        background-image: url(/images/head-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0;
        border: none !important;
        max-height: 41vw;
        height: 100%;
    }
    .quick-cart__icon{
        color: #fff;
        opacity: 1!important;
    }

    .points-table--header{
        align-items: inherit;
    }

    .buttons-wrap{
        flex-direction: row;
        justify-content: space-around;
        margin: 0 -15px;
    }
    .buttons-wrap .btn-bonus.bb1{
        margin-right: 7px;
    }
    .buttons-wrap .btn-bonus.bb2{
        margin-left: 7px;
    }
    .buttons-wrap .btn-bonus{
        position: relative;
        min-height: auto;
    }
    .buttons-wrap .btn-bonus .btn-bonus--info{
        width: 100%;
        text-align: left;
        align-items: flex-start;
        min-height: auto;
    }
    .btn-bonus--pig, .btn-bonus--purse{
        position: absolute;
        top: 0;
        right: 0;
        border:none;
        min-height: auto;
        padding: 10px;
        width: 60px;
    }
    .buttons-wrap .bonus-title{
        font-size: 50px;
        padding-right: 45px;
    }
    .buttons-wrap > a {
        width: 50%;
    }

    .sales-point{
        position: relative;
    }
    .point-block{
        padding-top: 10px;
    }
    .point-coin{
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        width: 75px;
    }
    .point-block--title{
        padding-left: 60px;
        padding-bottom: 15px;
    }

    .points-block .panel-heading{
        flex-direction: column;
    }
    .points-block.pbv2 .points-block--total,
    .points-block--right,
    .points-block--total,
    .points-block--name{
        width: 100%;
    }
    .points-block .points-link{border: none;}
    .points-block .points-link:before{
        right: 20px;
    }
    .points-block--total{
        padding: 20px 30px 20px 20px;
    }
    .points-block--name{
        border-right: 0;
        border-bottom: 2px solid #b1b8c7;
        padding: 10px 60px 10px 20px;
    }

    .sm-hide{
        display: block;
    }
    .title-pink,
    .oneStock-block--th1,
    .oneStock-block--th2,
    .oneStock-block--th3{
        font-size: 15px;
    }
    .message-block--head,
    .targets-block--head,
    .stocks-block--head,
    .oneStock-block--head{
        display: none;
    }
    .message-block--th1, .message-block--th2, .message-block--th3,
    .message-block--td1, .message-block--td2, .message-block--td3,
    .targets-block--th1, .targets-block--th2, .targets-block--th3,
    .targets-block--td1, .targets-block--td2, .targets-block--td3,
    .stocks-block--th1, .stocks-block--th2, .stocks-block--th3, .stocks-block--th4,
    .stocks-block--td1, .stocks-block--td2, .stocks-block--td3, .stocks-block--td4,
    .oneStock-block--th1, .oneStock-block--td1,
    .oneStock-block--th2, .oneStock-block--td2,
    .oneStock-block--th3, .oneStock-block--td3{
        width: 100%;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }
    .message-block--body,
    .targets-block--body,
    .stocks-block--body,
    .oneStock-block--body{
        flex-direction: column;
        border-top: 0
    }
    .message-block.panel_ferma,
    .targets-block.panel_ferma,
    .stocks-block.panel_ferma,
    .oneStock-block.panel_ferma{
        padding-top: 0!important;
    }

    .calc-table{
        flex-direction: column;
    }
    .calc-table--line {
        flex-direction: column;
    }
    .calc-table--col{
        width: 100%;

    }
    .calc-table--col .form-group{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .calc-table input.form-control{
        margin: 0 0 5px 15px;
        width: 100%;
    }
    .calculator-page label{
        background-color: transparent;
        padding: 0;
    }
    .row_target_calc2 label,
    .row_target_calc3 label,
    .row_target_calc4 label,
    .row_target_calc5 label,
    .row_target_calc6 label,
    .row_target_calc7 label,
    .row_target_calc8 label,
    .row_basic_calc2 label,
    .row_basic_calc3 label,
    .row_basic_calc4 label,
    .row_basic_calc5 label,
    .row_basic_calc6 label,
    .row_basic_calc7 label,
    .row_basic_calc8 label,
    .row_basic_calc9 label,
    .row_basic_calc10 label,
    .add_div2 label,
    .add_div3 label,
    .add_div4 label,
    .add_div5 label,
    .add_div6 label,
    .add_div7 label,
    .add_div8 label,
    .add_div9 label,
    .add_div10 label{
        display: inline-flex;
    }
    .add_div .calc-table--line{
        width: auto;
    }
    .main_balls .calc-table--line label,
    .add_div .calc-table--line label{
        width: 30%;
        flex-shrink: 0;
    }
    #composeOrder{
        padding: 5px;
    }
    .olh-right, .olh-left{
        width: auto;
    }
}

/*@media only screen and (min-width: 769px) {*/

    /*.list-cell__work_time_to {*/
        /*width: 720px !important;*/
    /*}*/
    /*.multiple-input-list__btn{*/
        /*margin-left: -70px;*/
        /*position: absolute;*/
    /*}*/
/*}*/
@media only screen and (max-width: 600px) {

    .top-wrap{
        padding-top: 15px;
        flex-wrap: nowrap;
    }
    .top-bar{
        top: 55px;
        right: 55px;
    }
    .header__nav-second-main{
        top: 70px;
        right: 15px;
    }
    .top-bar .user-name .name-link{
        flex-direction: row;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .top-bar .user-name .name-link span{
        margin-right: 5px;
    }
    .new_nav{
        top: 65px;
    }
    .catalog-title{
        flex-direction: column;
        align-items: flex-start;
    }
    .catalog-title .header_top{
        margin-bottom: 10px;
    }
    .orders-list--head{
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
    }

    .olh-right, .olh-left{
        height: auto;
        padding: 0;
        width: 100%;
    }
    .olh-right{
        border: none;
    }
    .olh-right:before{
        right: 0;
        top: calc(100% - 60px);
    }
    .olh-right > span{
        font-size: 20px;
        color: #3f404b;
        font-family: MuseoCyrl, serif;
    }
    .orders-list--number{
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .buttons-wrap{
        flex-direction: column;
    }
    .buttons-wrap > a{
        width: 100%;
    }
    .buttons-wrap .btn-bonus.bb1,
    .buttons-wrap .btn-bonus.bb2{
        margin-left: 0;
        margin-right: 0;
    }
    .calc-table--col .form-group{
        flex-direction: column;
    }
    .calc-table input.form-control{
        margin-left: 0;
    }
    .main_balls .calc-table--line label,
    .add_div .calc-table--line label{
        width: auto;
    }
}

@media only screen and (max-width: 425px) {
    .buttons-wrap .btn-bonus .btn-bonus--info{
        width: 75%;
    }
    .buttons-wrap .btn-bonus.bb1,
    .buttons-wrap .btn-bonus.bb2{
        -webkit-background-size: 50px;
        background-size: 50px;
    }
    .buttons-wrap .bonus-title{
        font-size: 50px;
    }
    .buttons-wrap .btn-bonus{
        min-height: auto;
    }
    .buttons-wrap .btn-bonus .btn-bonus--info{
        min-height: 100px;
    }

    .points-table--header .points-table--td1,
    .points-table--header .points-table--td2,
    .points-table--header .points-table--td3{
        padding: 5px 10px;
    }
    .points-table--body .points-table--td1,
    .points-table--body .points-table--td2,
    .points-table--body .points-table--td3{
        padding: 2px 10px;
    }
    h2, .h2, .point-block--title, .news-card--title, .points-block--name, .header_top{
        font-size: 19px;
    }
    #add_rtt .multiple-input-list.list-renderer .form-group{
        flex-direction: column;
    }
    #add_rtt .field-addrttform-multirtt label{
        width: auto;
        margin-bottom: 0;
    }
    #add_rtt .btn_all{
        width: 100%;
        margin-bottom: 5px;
    }
    #add_rtt .col-sm-6{
        padding: 0 10px;
    }
    .dealer-forms .form-horizontal{
        flex-direction: column;
    }
    .dealer-forms .form-horizontal .form-group{
        margin: 0;
        width: 100%;
    }
    .dealer-forms .col-sm-6.col-sm-offset-3{
        padding: 0;
    }
    .dealer-forms .btn_blue{
        width: 100%;
    }
}
